leisure-list {
	.scroll-content{
		background: white;
	}
	.toolbar-background-md {
    	border-color: white;
    }
	.tab_item{
		font-size: 22px;
	}
	.leisure_left{
		border-right: 2px solid #8d1b3d;
	}
	.tab_title{
	    padding: 2em 0;
		background: #8d1b3d;
    	color: white;
    	margin-bottom: 1em;
	}
	.grid{
		padding: 0;
		background: white;
	}
	.list_icon{
		background: #8D1B3D;
	    width: 140px;
	    height: 140px;
	    text-align: center;
	    border-radius: 50%;
	    margin: 0 auto;
	    margin-right: 24px;
	}
	.list_icon ion-icon{
		font-size: 86px;
	    margin: 32px 0;
	    color: white;
	}
	.leisure_list{
		padding: 24px;
	}
	.leisure_right ion-icon{
		float: right;
	    font-size: 30px;
	}
	.leisure_right{
		margin: auto;
	}
	.leisure_right div{
		font-size: 22px;
	    padding-left: 24px;
	    color: #8d1b3d;
	}
	ion-footer{
	    background: black;
	    color: white;
	    font-size: 32px;
	    text-align: center;
	    height: 58px;
	    padding: 7px;
	}
	.footer_class{
	    padding: 0 16px;
	}
}
