leisure-list {
	.toolbar-background-md {
    	border-color: white;
    	background: #412930;
    }
    .content-md {
	    color: white;
	    background-color: #8D1B3D;
	}
	.tab_item{
		font-size: 22px;
	}
	.explore_item{
	    height: 250px;
    	text-align: center;
    	padding: 4em;
	}
	.explore_item span{
		font-size: 22px;
	}
	.left{
		border-right: 8px solid white;
		border-bottom: 16px solid white;
	}
	.right{
		border-left: 8px solid white;
		border-bottom: 16px solid white;
	}
	.items_list .col{
		padding: 0;
	}
	.grid{
		padding: 0;
	}
	.tab_title{
	    padding: 2em;
    	margin-bottom: 1em;
	}
	ion-footer{
	    background: black;
	    color: white;
	    font-size: 32px;
	    text-align: center;
	    height: 58px;
	    padding: 7px;
	}
	.footer_class{
	    padding: 0 16px;
	}
}
