<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button (click)="goBack()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="gotoLogin(loginForm)" autocomplete="off">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-icon class="ion-ios-person-outline" item-left></ion-icon>
            <ion-input type="email" name="username" formControlName="username" placeholder="Username"></ion-input> 
          </ion-item>
          <!-- <div>
            <ng-container *ngFor="let validation of validation_messages.username" >
              <div *ngIf="loginForm.get('username').hasError(validation.type)">
                <p>{{validation.message}}</p>
              </div>
            </ng-container>
          </div> -->
          <ion-item>
            <ion-icon name="ios-lock-outline" item-left></ion-icon>
            <ion-input type="password" name="password" placeholder="Password" formControlName="password"></ion-input> 
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          <button ion-button class="login_btn" full type="submit">Login
          </button>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
