<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button (click)="goBack()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="gotoLogin(loginForm)" autocomplete="off">
    <ion-row>
        <div *ngIf="error_message" class="alert alert-danger">{{error_message}}</div>
      <ion-col>
        <ion-list inset>
            <ion-item>
              <ion-icon class="ion-ios-person-outline" item-left></ion-icon>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-icon name="ios-lock-outline" item-left></ion-icon>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

          <!-- <ion-item>
            <ion-icon class="ion-ios-person-outline" item-left></ion-icon>
            <ion-input type="email" name="email" formControlName="email" placeholder="Email"></ion-input> 
          </ion-item>
          <ion-item>
              <ion-icon name="ios-lock-outline" item-left></ion-icon>
            <ion-input type="password" name="password" placeholder="Password" formControlName="password"></ion-input> 
          </ion-item> -->
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <button ion-button class="login_btn" full type="submit" block [disabled]="!loginForm.valid">Login</button>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
