news-detail-more-list {
	.scroll-content {
	    background: white !important;
	}
	.social_icons{
	    background-color: #8C1B3C;
	    padding: 4px;
	    font-size: 30px;
	    text-align: center;
	    border-radius: 4px;
	}
	.header_description{
		color: black;
		padding: 14px;
	}
	.toolbar-background-md {
    	border-color: white;
    }
    .back_btn{
		font-size: 25px;
	    position: absolute;
	    margin-left: 12px;
	}
	ion-header{
		background-image: none !important;
	}
	.grid{
		padding: 0;
	}
	.tab_title{
	    padding: 1em 0;
    	color:white;
    	background: linear-gradient(#392B2F, #672237);
    	h2{
    		text-align: center;
    		width: 100%;
    		margin: 0;
    	}
	}
	.social_icons_grp{
	    text-align: center;
	    border-top: 1px solid #827878;
	    width: 65%;
	    margin: auto;
	    padding-top: 16px;
	}
	h4{
		text-align: center;
	    width: 65%;
	    border-bottom: 1px solid #827878;
	    padding-bottom: 12px;
	    color:black;
	    margin: auto;
	    padding-top: 16px;
	}
	.news_details_content{
		.read_more{
			float: right;
			font-weight: 600;
    		font-size: 16px;
		}
		h2{
			font-size: 22px;
    		font-weight: bold;
			margin-top: 0;
		}
		span{
			font-size: 12px;
		}
		p{
		    font-size: 16px;
		    margin-top: 6px;
    		text-align: justify;
			margin-bottom: 6px;
			line-height: 22px;
		}
		.main_head{
			.col{
				padding: 0;
			}
			img{
				height: 200px;
    			width: 100%;
			}
		}
	}

	ion-footer{
	    background: black;
	    color: white;
	    font-size: 22px;
	    text-align: center;
	    height: 58px;
	    padding: 7px;
	    line-height: 50px;
	}
	.footer_class{
	    padding: 0 16px;
	}
	.active{
		border-bottom: 3px solid;
		cursor: pointer;
	}
}
