
 <ion-content>
  <ion-grid class="main_tab"> 
    <ion-row>
      <ion-col class="more_option">
          <span (click)="goToMore()">
            <ion-icon ios="ios-more" md="md-more"></ion-icon>
            <span>More</span>
          </span>
            <ion-icon class="search_icon" ios="ios-search" md="md-search"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-3 (click)="activeExplore()" [ngClass]="(explore)?'active':''">
          <span>Explore</span>
        </ion-col>
        <ion-col col-4 (click)="activeWhereToGo()" [ngClass]="(where_to_go)?'active':''">
          <span>Where to go?</span>
        </ion-col>
        <ion-col col-3 (click)="activeLeisure()" [ngClass]="(leisure)?'active':''">
          <span class="">Leisure</span>
        </ion-col>
        <ion-col col-2 (click)="activeQatar()" [ngClass]="(qatar)?'active':''">
          <span class="">Qatar</span>
        </ion-col>
    </ion-row>
  </ion-grid>
  
    <explore-list *ngIf="explore"></explore-list>
    <image-list *ngIf="where_to_go"></image-list>
    <leisure-list *ngIf="leisure"></leisure-list>
    <qatar-list *ngIf="qatar"></qatar-list>

</ion-content> 
<ion-footer>
  <ion-icon ios="ios-home" md="md-home"></ion-icon><span class="footer_class">Discover</span>
</ion-footer>
