<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent" style="padding: 10px 2em;">
   <ion-row>
    <ion-col class="more_option">
      <button ion-button menuToggle left style="background: no-repeat;box-shadow: none;font-size: 20px;
    padding: 0;">
         <ion-icon name="more"><span style="font-family: sans-serif;">More</span></ion-icon>
     </button>
      <ion-icon class="search_icon" ios="ios-search" md="md-search"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <span class="heading">Profile</span>
  </ion-row>
  <ion-grid class="main_tab">
    <ion-row class="second_tab">
      <ion-col class="selected_col" (click)="activeProfile()" [ngClass]="(profile)?'active':''">
        <span>Profile</span>
      </ion-col>
      <ion-col class="selected_col" (click)="activeList()" [ngClass]="(list)?'active':''">
        <span>My Listing</span>
      </ion-col>
      <ion-col (click)="activePassword()" [ngClass]="(password)?'active':''">
        <span>Password</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content #pageContent fullscreen>
  <ion-card class="profile_data">
    <ion-img src="{{imageurl}}" class="profile_image"></ion-img>
    <span (click)="upload('profile')" class="upload_icon"><ion-icon name="create"></ion-icon></span>
    <ion-card-header class="basic_profile" *ngIf="personal_details">
      <ion-card-title>Name: {{personal_details.name}}</ion-card-title>
      <ion-card-title>Email Id: {{personal_details.email}}</ion-card-title>
      <ion-card-title>Last Login: 22/03/2019</ion-card-title>
    </ion-card-header>
  </ion-card>
  <div class="news_content" *ngIf="profile">
    <ion-card-title class="title_head left_"> My Profile Information </ion-card-title>
    <ion-card-content>
          <form #form="ngForm" (ngSubmit)="updateProfile(form)" novalidate *ngIf="personal_details">
              <ion-item>
                  <ion-label>Contact Name</ion-label>
                  <ion-input type="text" name="name" required [(ngModel)]="personal_details.name" ngControl="name"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Email Address</ion-label>
                  <ion-input type="text" name="email" required [(ngModel)]="personal_details.email" ngControl="email"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Mobile Number</ion-label>
                  <ion-input type="text" name="phone" required [(ngModel)]="personal_details.phone" ngControl="phone"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Company Name</ion-label>
                  <ion-input type="text" name="company" required [(ngModel)]="personal_details.company" ngControl="company"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Designation</ion-label>
                  <ion-input type="text" name="designation" required [(ngModel)]="personal_details.designation" ngControl="designation"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Alternate Email Address</ion-label>
                  <ion-input type="text" name="alteremail" required [(ngModel)]="personal_details.alteremail" ngControl="alteremail"></ion-input>
              </ion-item>
              <ion-item>
                <button ion-button type="submit" block>Update</button>
              </ion-item>
          </form>
    </ion-card-content>
  </div>
  <div class="blog_content" *ngIf="list">
    <ion-card-content>
    <div *ngIf="newlist">
      <button class="btn post_business" ion-button (click)="viewList()">View List</button>
      <ion-card-title class="title_head"> Add Your New Business </ion-card-title>
      <form #form="ngForm" (ngSubmit)="saveBusiness(form)" novalidate>
        <ion-item>
          <ion-label>Company Name</ion-label>
          <ion-input type="text" name="name" required [(ngModel)]="business.name" ngControl="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Company Description</ion-label>
          <ion-input type="text" name="email" required [(ngModel)]="business.email" ngControl="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Company Category</ion-label>
          <ion-input type="text" name="phone" required [(ngModel)]="business.phone" ngControl="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Company Location</ion-label>
          <ion-input type="text" name="phone" required [(ngModel)]="business.phone" ngControl="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Company Phone Number</ion-label>
          <ion-input type="text" name="phone" required [(ngModel)]="business.phone" ngControl="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Company Tagline</ion-label>
          <ion-input type="text" name="phone" required [(ngModel)]="business.phone" ngControl="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Company Website</ion-label>
          <ion-input type="text" name="phone" required [(ngModel)]="business.phone" ngControl="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Company Mail</ion-label>
          <ion-input type="text" name="phone" required [(ngModel)]="business.phone" ngControl="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Facebook</ion-label>
          <ion-input type="text" name="phone" required [(ngModel)]="business.phone" ngControl="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Instagram</ion-label>
          <ion-input type="text" name="phone" required [(ngModel)]="business.phone" ngControl="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Linkedin</ion-label>
          <ion-input type="text" name="phone" required [(ngModel)]="business.phone" ngControl="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Twitter</ion-label>
          <ion-input type="text" name="phone" required [(ngModel)]="business.phone" ngControl="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Youtube</ion-label>
          <ion-input type="text" name="phone" required [(ngModel)]="business.phone" ngControl="phone"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button type="button" (click)="upload('profile')" block>Upload Profile Picture</button>
        </ion-item>
        <ion-item>
          <button ion-button type="button" (click)="upload('profile')" block>Upload Background Image</button>
        </ion-item>
        <ion-item>
          <button ion-button type="submit" block>Submit</button>
        </ion-item>
      </form>
    </div>
    <div *ngIf="mylist && business_lists">
      <button *ngIf="business_lists.length <= 3" class="btn post_business" ion-button (click)="addNewBusiness()">Post Your New Business</button>
      <ion-card-title class="title_head"> My Business Listings </ion-card-title>
      <ion-grid class="list_business">
        <ion-row>
          <ion-col size="3">
            No
          </ion-col>
          <ion-col size="3">
            Company Name
          </ion-col>
          <ion-col size="3">
            Action
          </ion-col>
        </ion-row>
        
        <ion-row *ngFor="let item of business_lists; let i = index">
          <ion-col size="3">
            {{i+1}}
          </ion-col>
          <ion-col size="3">
            {{item.title}}
          </ion-col>
          <ion-col size="3">
            <button (click)="editBusiness(item.id)" class="action_button" ion-button><ion-icon name="create"></ion-icon></button>
            <button (click)="deleteBusiness(item.id)" class="action_button" ion-button><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
    </ion-card-content>
  </div>
  <div class="blog_content" *ngIf="password">
     <ion-card-title class="title_head left_"> Change Password </ion-card-title>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="changePasswordForm(form)" novalidate>
              <ion-item>
                  <ion-label>Old Password</ion-label>
                  <ion-input type="text" name="name" required [(ngModel)]="personal.name" ngControl="name"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>New Password</ion-label>
                  <ion-input type="text" name="email" required [(ngModel)]="personal.email" ngControl="email"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Confirm Password</ion-label>
                  <ion-input type="text" name="phone" required [(ngModel)]="personal.phone" ngControl="phone"></ion-input>
              </ion-item>
              <ion-item>
                <button ion-button type="submit" block>Submit</button>
              </ion-item>
      </form>
    </ion-card-content>
  </div>
</ion-content>

<ion-footer (click)="gotoHome()" [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
	<ion-icon ios="ios-home" md="md-home"></ion-icon><span class="footer_class">Discover</span>
</ion-footer>