<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent" style="padding: 10px 2em;">
   <ion-row>
    <ion-col class="more_option">
      <button ion-button menuToggle left style="background: no-repeat;box-shadow: none;font-size: 20px;
    padding: 0;">
         <ion-icon name="more"><span style="font-family: sans-serif;">More</span></ion-icon>
     </button>
      <ion-icon class="search_icon" ios="ios-search" md="md-search"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <span class="heading">Profile</span>
  </ion-row>
  <ion-grid class="main_tab">
    <ion-row class="second_tab">
      <ion-col class="selected_col" (click)="activeProfile()" [ngClass]="(profile)?'active':''">
        <span>Profile</span>
      </ion-col>
      <ion-col class="selected_col" (click)="activeList()" [ngClass]="(list)?'active':''">
        <span>My Listing</span>
      </ion-col>
      <ion-col (click)="activePassword()" [ngClass]="(password)?'active':''">
        <span>Password</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content #pageContent fullscreen>
  <ion-card class="profile_data">
    <ion-img src="{{imageurl}}" class="profile_image"></ion-img>
    <span (click)="upload('profile')" class="upload_icon"><ion-icon name="create"></ion-icon></span>
    <ion-card-header class="basic_profile" *ngIf="personal_details">
      <ion-card-title>Name: {{personal_details.name}}</ion-card-title>
      <ion-card-title>Email Id: {{personal_details.email}}</ion-card-title>
      <ion-card-title>Last Login: 22/03/2019</ion-card-title>
    </ion-card-header>
  </ion-card>
  <div class="news_content" *ngIf="profile">
    <ion-card-title class="title_head left_"> My Profile Information </ion-card-title>
    <ion-card-content>
          <form [formGroup]="personalForm" (ngSubmit)="updateProfile(personalForm)" novalidate *ngIf="personal_details">
              <ion-item>
                <ion-label position="floating" color="primary">Contact Name<span class="error-message">*</span></ion-label>
                <ion-input type="text" formControlName="name" [(ngModel)]="personal_details.name"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.name">
                  <div class="error-message" *ngIf="personalForm.get('name').hasError(validation.type) && (personalForm.get('name').dirty || personalForm.get('name').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                  <ion-label position="floating" color="primary">Email Address<span class="error-message">*</span></ion-label>
                  <ion-input type="text" formControlName="email" [(ngModel)]="personal_details.email"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="personalForm.get('email').hasError(validation.type) && (personalForm.get('email').dirty || personalForm.get('email').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

                <ion-item>
                    <ion-label position="floating" color="primary">Mobile Number<span class="error-message">*</span></ion-label>
                    <ion-input type="text" formControlName="phone" [(ngModel)]="personal_details.phone"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.phone">
                      <div class="error-message" *ngIf="personalForm.get('phone').hasError(validation.type) && (personalForm.get('phone').dirty || personalForm.get('phone').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>

                  <ion-item>
                      <ion-label position="floating" color="primary">Company Name<span class="error-message">*</span></ion-label>
                      <ion-input type="text" formControlName="company" [(ngModel)]="personal_details.company"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.company">
                        <div class="error-message" *ngIf="personalForm.get('company').hasError(validation.type) && (personalForm.get('company').dirty || personalForm.get('company').touched)">
                          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>

                    <ion-item>
                        <ion-label position="floating" color="primary">Designation<span class="error-message">*</span></ion-label>
                        <ion-input type="text" formControlName="designation" [(ngModel)]="personal_details.designation"></ion-input>
                      </ion-item>
                      <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.designation">
                          <div class="error-message" *ngIf="personalForm.get('designation').hasError(validation.type) && (personalForm.get('designation').dirty || personalForm.get('designation').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </div>
                        </ng-container>
                      </div>

                      <ion-item>
                          <ion-label position="floating" color="primary">Alternate Email Address</ion-label>
                          <ion-input type="text" formControlName="alteremail" [(ngModel)]="personal_details.alteremail"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                          <ng-container *ngFor="let validation of validation_messages.alteremail">
                            <div class="error-message" *ngIf="personalForm.get('alteremail').hasError(validation.type) && (personalForm.get('alteremail').dirty || personalForm.get('alteremail').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                            </div>
                          </ng-container>
                        </div>
              <ion-item>
                <button ion-button type="submit" block [disabled]="!personalForm.valid">Update</button>
              </ion-item>
          </form>
    </ion-card-content>
  </div>
  <div class="blog_content" *ngIf="list">
    <ion-card-content>
    <div *ngIf="newlist">
      <button class="btn post_business" ion-button (click)="viewList()">View List</button>
      <ion-card-title class="title_head"> Add Your New Business </ion-card-title>
      <form [formGroup]="businessForm" (ngSubmit)="saveBusiness(businessForm)" novalidate>
          <!-- <input type="hidden" name="id" [(ngModel)]="business.id" > -->
          <ion-input type="hidden" formControlName="id" [(ngModel)]="business.id"></ion-input>

          <ion-item>
              <ion-label position="floating" color="primary">Company Name<span class="error-message">*</span></ion-label>
              <ion-input type="text" formControlName="business_name" [(ngModel)]="business.name"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.business_name">
                <div class="error-message" *ngIf="businessForm.get('business_name').hasError(validation.type) && (businessForm.get('business_name').dirty || businessForm.get('business_name').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
                <ion-label position="floating" color="primary">Company Description<span class="error-message">*</span></ion-label>
                <ion-input type="text" formControlName="description" [(ngModel)]="business.description"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.description">
                  <div class="error-message" *ngIf="businessForm.get('description').hasError(validation.type) && (businessForm.get('description').dirty || businessForm.get('description').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

            <ion-item>
                <ion-label position="floating" color="primary">Company Category<span class="error-message">*</span></ion-label>
                <ion-input type="text" formControlName="category" [(ngModel)]="business.category"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.category">
                  <div class="error-message" *ngIf="businessForm.get('category').hasError(validation.type) && (businessForm.get('category').dirty || businessForm.get('category').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating" color="primary">Company Location<span class="error-message">*</span></ion-label>
                <ion-input type="text" formControlName="location" [(ngModel)]="business.location"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.location">
                  <div class="error-message" *ngIf="businessForm.get('location').hasError(validation.type) && (businessForm.get('location').dirty || businessForm.get('location').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating" color="primary">Company Phone Number<span class="error-message">*</span></ion-label>
                <ion-input type="text" formControlName="phone" [(ngModel)]="business.phone"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.phone">
                  <div class="error-message" *ngIf="businessForm.get('phone').hasError(validation.type) && (businessForm.get('phone').dirty || businessForm.get('phone').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating" color="primary">Company Tagline<span class="error-message">*</span></ion-label>
                <ion-input type="text" formControlName="tagline" [(ngModel)]="business.tagline"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.tagline">
                  <div class="error-message" *ngIf="businessForm.get('tagline').hasError(validation.type) && (businessForm.get('tagline').dirty || businessForm.get('tagline').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating" color="primary">Company Website<span class="error-message">*</span></ion-label>
                <ion-input type="text" formControlName="website" [(ngModel)]="business.website"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.website">
                  <div class="error-message" *ngIf="businessForm.get('website').hasError(validation.type) && (businessForm.get('website').dirty || businessForm.get('website').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating" color="primary">Company Mail<span class="error-message">*</span></ion-label>
                <ion-input type="text" formControlName="mail" [(ngModel)]="business.mail"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.mail">
                  <div class="error-message" *ngIf="businessForm.get('mail').hasError(validation.type) && (businessForm.get('mail').dirty || businessForm.get('mail').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating" color="primary">Facebook</ion-label>
                <ion-input type="text" formControlName="facebook" [(ngModel)]="business.facebook"></ion-input>
              </ion-item>
              <!-- <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.facebook">
                  <div class="error-message" *ngIf="businessForm.get('facebook').hasError(validation.type) && (businessForm.get('facebook').dirty || businessForm.get('facebook').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div> -->
              
              <ion-item>
                <ion-label position="floating" color="primary">Instagram</ion-label>
                <ion-input type="text" formControlName="instagram" [(ngModel)]="business.instagram"></ion-input>
              </ion-item>
              <!-- <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.instagram">
                  <div class="error-message" *ngIf="businessForm.get('instagram').hasError(validation.type) && (businessForm.get('instagram').dirty || businessForm.get('instagram').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div> -->

              <ion-item>
                <ion-label position="floating" color="primary">Linkedin</ion-label>
                <ion-input type="text" formControlName="linkedin" [(ngModel)]="business.linkedin"></ion-input>
              </ion-item>
              <!-- <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.linkedin">
                  <div class="error-message" *ngIf="businessForm.get('linkedin').hasError(validation.type) && (businessForm.get('linkedin').dirty || businessForm.get('linkedin').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div> -->

              <ion-item>
                <ion-label position="floating" color="primary">Twitter</ion-label>
                <ion-input type="text" formControlName="twitter" [(ngModel)]="business.twitter"></ion-input>
              </ion-item>
              <!-- <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.twitter">
                  <div class="error-message" *ngIf="businessForm.get('twitter').hasError(validation.type) && (businessForm.get('twitter').dirty || businessForm.get('twitter').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div> -->

              <ion-item>
                <ion-label position="floating" color="primary">Youtube</ion-label>
                <ion-input type="text" formControlName="youtube" [(ngModel)]="business.youtube"></ion-input>
              </ion-item>
              <!-- <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.youtube">
                  <div class="error-message" *ngIf="businessForm.get('youtube').hasError(validation.type) && (businessForm.get('youtube').dirty || businessForm.get('youtube').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div> -->

              <ion-item>
                <ion-label position="floating" color="primary">Youtube</ion-label>
                <ion-input type="text" formControlName="youtube" [(ngModel)]="business.youtube"></ion-input>
              </ion-item>
              <!-- <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.youtube">
                  <div class="error-message" *ngIf="businessForm.get('youtube').hasError(validation.type) && (businessForm.get('youtube').dirty || businessForm.get('youtube').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div> -->
        <!--
        <ion-item>
          <button ion-button type="button" (click)="upload('company_pic')" block>Upload Profile Picture</button>
        </ion-item>
        <ion-item>
          <button ion-button type="button" (click)="upload('background_pic')" block>Upload Background Image</button>
        </ion-item> -->
        <ion-item>
            <button ion-button type="submit" block [disabled]="!businessForm.valid">Submit</button>
        </ion-item>
      </form>
    </div>
    <div *ngIf="mylist && business_lists">
      <button *ngIf="business_lists.length <= 3" class="btn post_business" ion-button (click)="addNewBusiness()">Post Your New Business</button>
      <ion-card-title class="title_head"> My Business Listings </ion-card-title>
      <ion-grid class="list_business">
        <ion-row>
          <ion-col size="3">
            No
          </ion-col>
          <ion-col size="3">
            Company Name
          </ion-col>
          <ion-col size="3">
            Action
          </ion-col>
        </ion-row>
        
        <ion-row *ngFor="let item of business_lists; let i = index">
          <ion-col size="3">
            {{i+1}}
          </ion-col>
          <ion-col size="3">
            {{item.title}}
          </ion-col>
          <ion-col size="3">
            <button (click)="editBusiness(item.id)" class="action_button" ion-button><ion-icon name="create"></ion-icon></button>
            <button (click)="deleteBusiness(item.id)" class="action_button" ion-button><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
    </ion-card-content>
  </div>
  <div class="blog_content" *ngIf="password">
     <ion-card-title class="title_head left_"> Change Password </ion-card-title>
    <ion-card-content>
      <form [formGroup]="passwordForm" (ngSubmit)="changePasswordForm(passwordForm)" novalidate>
          <ion-item>
              <ion-label position="floating" color="primary">Old Password<span class="error-message">*</span></ion-label>
              <ion-input type="password" formControlName="oldpassword" [(ngModel)]="passwordform.oldpassword"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.oldpassword">
                <div class="error-message" *ngIf="passwordForm.get('oldpassword').hasError(validation.type) && (passwordForm.get('oldpassword').dirty || passwordForm.get('oldpassword').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
                <ion-label position="floating" color="primary">New Password<span class="error-message">*</span></ion-label>
                <ion-input type="password" formControlName="newpassword" [(ngModel)]="passwordform.newpassword"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.newpassword">
                  <div class="error-message" *ngIf="passwordForm.get('newpassword').hasError(validation.type) && (passwordForm.get('newpassword').dirty || passwordForm.get('newpassword').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <ion-item>
                <ion-label position="floating" color="primary">Confirm Password<span class="error-message">*</span></ion-label>
                <ion-input type="password" formControlName="confirmpassword" [(ngModel)]="passwordform.confirmpassword"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.confirmpassword">
                  <div class="error-message" *ngIf="passwordForm.get('confirmpassword').hasError(validation.type) && (passwordForm.get('confirmpassword').dirty || passwordForm.get('confirmpassword').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <!-- <ion-item>
                  <ion-label>Old Password</ion-label>
                  <ion-input type="password" name="oldpassword" required [(ngModel)]="passwordform.oldpassword"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>New Password</ion-label>
                  <ion-input type="password" name="newpassword" required [(ngModel)]="passwordform.newpassword"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Confirm Password</ion-label>
                  <ion-input type="password" name="confirmpassword" required [(ngModel)]="passwordform.confirmpassword"></ion-input>
              </ion-item> -->
              <ion-item>
                  <button ion-button type="submit" block [disabled]="!passwordForm.valid">Submit</button>
              </ion-item>
      </form>
    </ion-card-content>
  </div>
</ion-content>

<ion-footer (click)="gotoHome()" [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
	<ion-icon name="recording"></ion-icon><span class="footer_class">Discover</span>
</ion-footer>