
<ion-content>
  <ion-grid>
    <ion-row class="tab_title">
      <ion-icon class="back_btn" (click)="goToBack()" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      <h2>Latest News</h2>
    </ion-row>
    
    <div class="news_details_content" *ngIf="newsdetail">
      <ion-row class="main_head news_list" (click)="newsReadMore(news.id)" *ngFor="let news of newsdetail">
          <ion-col col-4>  
            <img src="{{serverurl}}{{news.image}}"/>
          </ion-col>
          <ion-col col-8>  
            <h2>{{news.title}}</h2>
            <span>BY XXX | 1 HOUR AGO</span>
            <p>{{news.description}}</p>
          </ion-col>
      </ion-row>
      <br/>
    </div>
  </ion-grid>
</ion-content>
