news-detail-list {
	.toolbar-background-md {
    	border-color: white;
    }
    .back_btn{
        font-size: 25px;
	    position: absolute;
	    margin-left: 12px;
    }
	ion-header{
		background-image: none !important;
	}
	.grid{
		padding: 0;
	}
	.tab_title{
	    padding: 1em 0;
    	color:white;
    	background: linear-gradient(#392B2F, #672237);
    	h2{
    		text-align: center;
			margin: 0;
    		width: 100%;
    	}
	}
	.news_details_content{
		color: black;
		.read_more{
			float: right;
			font-weight: 600;
    		font-size: 16px;
		}
		h2{
			margin-bottom: 16px;
			font-size: 18px;
    		font-weight: bold;
			margin-top: 0;
		}
		span{
			font-size: 12px;
		}
		p{
		    font-size: 16px;
		    margin-top: 6px;
    		text-align: justify;
		}
		.main_head{
			.col{
				padding-top: 1em;
				padding: 10px;
				padding-bottom: 0;
			}
		}
	}

	.news_list{
			box-shadow: 4px 0px 7px 2px #c5c2c2;
		.col{
			padding: 10px;
    		padding-top: 1em;
		}
		h2{
		    font-size: 16px;
		}
		p{
		    margin-top: 4px;
    		font-size: 14px;
		}
		span{
			font-size: 10px;
		}
		.read_more{
			font-size: 13px;
		}
		img{
			height: 100px;
    		margin: 4px 0;
		}
	}

	ion-footer{
	    background: black;
	    color: white;
	    font-size: 22px;
	    text-align: center;
	    height: 58px;
	    padding: 7px;
	    line-height: 50px;
	}
	.footer_class{
	    padding: 0 16px;
	}
	.active{
		border-bottom: 3px solid;
		cursor: pointer;
	}
}
