ion-header{
	padding: 2em;
	color: white;
	font-size: 14px !important;
	background-image: linear-gradient(#000000, #891b3c);
}
ion-footer{
	background: black;
	color: white;
	font-size: 22px;
	text-align: center;
	height: 58px;
	padding: 7px;
	line-height: 50px;
}
.scroll-content{
	background: #881a3c;
}
.toolbar-md-secondary .toolbar-background-md {
    background: #891b3c;
}
super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button{
	padding: 0 6px;
}
super-tabs:not([no-shadow]) > super-tabs-toolbar > ion-toolbar.toolbar::after, super-tabs:not([no-shadow]) > super-tabs-toolbar > ion-toolbar.toolbar::before{
	background-image: none;
}
super-tabs-container{
	margin-top: 3em;
}
.search_box{
	display: flex;
	.cancel_btn{
		height: 42px;
    	margin-top: 8px;
	}
}
.title{
	text-transform: none;
}
.footer_class{
	padding: 0 16px;
}
.content-md {
	color: white;
}
.more_option{
	font-size: 22px;
	margin-bottom: 12px;
	.search_icon{
		float: right;
		margin-top: 6px;
	}
}
super-tabs-container{
	position: absolute !important;
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
	background-image: none !important;
}
.ion-md-more:before {
    padding-right: 10px;
}