<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent" style="padding: 10px 2em;">
   <ion-row>
    <ion-col class="more_option">
      <button ion-button menuToggle left style="background: no-repeat;box-shadow: none;font-size: 20px;
    padding: 0;">
         <ion-icon name="more"><span style="font-family: sans-serif;">More</span></ion-icon>
     </button>

     <ion-icon *ngIf="!toggled_search" (click)="toggleSearch()" class="search_icon" ios="ios-search" md="md-search"></ion-icon>
		 <div class="search_box">
        <ion-searchbar
        *ngIf="toggled_search"
        [(ngModel)]="searchInput"
        (ionInput)="searchThis($event)"
        (ionCancel)="cancelSearch($event)"
        (ionClear) = "cancelSearch($event)"
        [showCancelButton]="true">
      </ion-searchbar>
      <button ion-button left *ngIf="toggled_search" (click)="toggled_search = !toggled_search">
        Cancel
      </button>
    </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content #pageContent fullscreen>
  <super-tabs tabsPlacement="top" toolbarBackground="secondary" toolbarColor="light" indicatorColor="light"
    (tabSelect)="onTabSelect($event)">
    <super-tab *ngFor="let page of pages" [root]="page.pageName" [title]="page.title" [id]="page.id"></super-tab>
  </super-tabs>
</ion-content>

<ion-footer (click)="gotoHome()" [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
  <ion-icon name="recording"></ion-icon><span class="footer_class">Discover</span>
</ion-footer>