image-list {
	.toolbar-background-md {
    	border-color: white;
    	background: #412930;
    }
    .content-md {
	    color: white;
	    background: linear-gradient(#4E2733, #8D1B3D);
	}
	.tab_item{
		font-size: 22px;
	}
	.image_item{
	    height: 200px;
    	background-image: url("../assets/imgs/guppi6.jpg");
    	background-repeat: round;
	}
	.image_item span{
		font-size: 18px;
		background: rgba(255, 255, 255, 0.25);
	    width: 100%;
	    position: absolute;
	    height: 100%;
	    text-align: center;
		padding: 4em 0;
    	color: black;
	}
	.left{
		border-right: 4px solid white !important;
		border-bottom: 16px solid white;
	}
	.right{
		border-left: 4px solid white !important;
		border-bottom: 16px solid white;
	}
	.items_list .col{
		padding: 0;
	}
	.grid{
		padding: 0;
	}
	.tab_title{
	    padding: 2em 0;
    	margin-bottom: 1em;
	}
	ion-footer{
	    background: black;
	    color: white;
	    font-size: 32px;
	    text-align: center;
	    height: 58px;
	    padding: 7px;
	}
	.footer_class{
	    padding: 0 16px;
	}
	.active{
		border-bottom: 3px solid;
		cursor: pointer;
	}
}
