
  <ion-grid>
    <ion-row class="items_list">
      <ion-col col-6 *ngFor="let item of items; let i = index">
        <div *ngIf="i % 2 === 0" class="image_item left" (click)="goToDetail(item.name)">
        	<img src="{{item.image}}" height="100%"/>
        	<div style="top: 0;">{{item.name}}</div>
        </div>

        <div *ngIf="i % 2 != 0" class="image_item right" (click)="goToDetail(item.name)">
        	<img src="{{item.image}}" height="100%">
        	<div style="top: 0;">{{item.name}}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>