<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <ion-grid class="main_tab">
    <ion-row>
      <ion-col class="more_option">
          <div (click)="getBlog()">
            <ion-icon ios="ios-more" md="md-more"></ion-icon>
            <span>More</span>
          </div>
      </ion-col>
    </ion-row>
    <ion-row class="second_tab">
      <ion-col (click)="activeNews()" [ngClass]="(news)?'active':''">
        <span>NEWS</span>
      </ion-col>
      <ion-col (click)="activeBlog()" [ngClass]="(blog)?'active':''">
        <span>BLOGS</span>
      </ion-col>
    </ion-row>
    </ion-grid>
    <ion-grid>
    <div class="news_content" *ngIf="news">
      <ion-row>
        <ion-col col-6>
          <div (click)="newsDetail()" class="left"><span>Latest News</span></div>
        </ion-col>
        <ion-col col-6>
          <div class="right"><span>Local News</span></div>
        </ion-col>
        <ion-col>
          <div class="left"><span>Sports</span></div>
        </ion-col>
        <ion-col>
          <div class="right"><span>Weather</span></div>
        </ion-col>
      </ion-row>
    </div>

    <div class="blog_content" *ngIf="blog">
      <ion-row>
        <ion-col>
          <h3>Lorem ipsum</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <img src="./assets/imgs/guppi6.jpg"/>
        <p>
          Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit,
          sed diam nonummy Lorem
          ipsum dolor sit amet, consectetuer
          adipiscing elit, sed
          diam nonummyLorem
          ipsum dolor sit amet, consectetuer
          adipiscing elit, sed
          diam nonummy Lorem
          ipsum dolor sit amet.
        </p>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-icon ios="ios-home" md="md-home"></ion-icon><span class="footer_class">Discover</span>
</ion-footer>
