
<ion-content>
  <ion-grid *ngIf="categoryArray">
    <ion-row style="display: block;" *ngIf="categoryArray.background_image && categoryArray.profile_image">
      <img src="{{serverurl}}/{{categoryArray.background_image}}" width="100%" height="200px"/>
      <div class="logo">
        <img src="{{serverurl}}/{{categoryArray.profile_image}}">
      </div>
    </ion-row>
    <ion-row class="category_details" *ngIf="categoryArray">
      <div class="details">
        <h2>{{categoryArray.title}}</h2>
        <h3>{{categoryArray.location}}</h3>
      </div>
      <div  (click)="goToMap(categoryArray.id)" class="direction_icon"><ion-icon ios="ios-pin" md="md-pin"></ion-icon>
        <h2>Get Direction</h2>
      </div>
      <div [innerHTML]="categoryArray.description" class="description">
      </div>
    </ion-row>

    <ion-row class="category_details">
      <h2>Our Facilities</h2>
    </ion-row>
    <ion-row class="category_details facilities">
      <ion-col col-6 *ngFor="let faci of facilities">
        <div><ion-icon md="{{faci.icon}}"></ion-icon><span>{{faci.title}}</span></div>
      </ion-col>
    </ion-row>

    <ion-row class="category_details">
      <h2>Working Hours</h2>
    </ion-row>
    <ion-row class="category_details">
      <ion-scroll zooming = "true" direction = "xy" style = "width: 320px; height: 160px">
         <div class = "scroll-container">
            <table class = "table">
             <thead>
                <tr>
                   <th *ngFor="let day of hours">{{day.day_num}}</th>
                </tr>
             </thead>
             
             <tbody>
                <tr>
                   <td *ngFor="let day of hours">{{day.time}}</td>
                </tr>
             </tbody>
            </table>
         </div>
      </ion-scroll>
    </ion-row><br/>
  </ion-grid>
</ion-content>

<ion-footer (click)="gotoHome()" [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
	<ion-icon name="recording"></ion-icon><span class="footer_class">Discover</span>
</ion-footer>