
<ion-content>
  <ion-grid>
    <ion-row class="tab_title">
      <ion-col *ngFor="let item of categories">
        <span class="tab_item" (click)="getList(item.name)">{{item.name}}</span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="categoryArray">
      <img src="{{categoryArray.background_image}}" width="100%" height="250px" />
      <div class="logo">
        <img src="{{categoryArray.profile_image}}">
      </div>
    </ion-row>
    <ion-row class="category_details" *ngIf="categoryArray">
      <div class="details">
        <h2>{{categoryArray.title}}</h2>
        <h3>{{categoryArray.location}}</h3>
      </div>
      <div class="direction_icon"><ion-icon ios="ios-pin" md="md-pin"></ion-icon>
        <h2>Get Direction</h2>
      </div>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{categoryArray.description}}</p>
    </ion-row>

    <ion-row class="category_details">
      <h2>Our Facilities</h2>
    </ion-row>
    <ion-row class="category_details facilities">
      <ion-col col-6 *ngFor="let faci of facilities">
        <div><ion-icon md="{{faci.icon}}"></ion-icon><span>{{faci.title}}</span></div>
      </ion-col>
    </ion-row>

    <ion-row class="category_details">
      <h2>Working Hours</h2>
    </ion-row>
    <ion-row class="category_details">
      <ion-scroll zooming = "true" direction = "xy" style = "width: 320px; height: 160px">
         <div class = "scroll-container">
            <table class = "table">
             <thead>
                <tr>
                   <th *ngFor="let day of hours">{{day.day_num}}</th>
                </tr>
             </thead>
             
             <tbody>
                <tr>
                   <td *ngFor="let day of hours">{{day.time}}</td>
                </tr>
             </tbody>
            </table>
         </div>
      </ion-scroll>
    </ion-row><br/>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-icon ios="ios-home" md="md-home"></ion-icon><span class="footer_class">Discover</span>
</ion-footer>
