<!-- <ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent" style="padding: 10px 2em;">
	<ion-row>
	 <ion-col class="more_option">
	   <button ion-button menuToggle left style="background: no-repeat;box-shadow: none;font-size: 20px;
	 padding: 0;">
		  <ion-icon name="more"><span style="font-family: sans-serif;">More</span></ion-icon>
	  </button>
		 <ion-icon *ngIf="!toggled_search" (click)="toggleSearch()" class="search_icon" ios="ios-search" md="md-search"></ion-icon>
		 <ion-searchbar
       *ngIf="toggled_search"
       [(ngModel)]="someValue"
       (ionInput)="searchThis($event)"
       (ionCancel)="cancelSearch($event)"
       (ionClear) = "cancelSearch($event)"
       [showCancelButton]="true">
    </ion-searchbar>
	 </ion-col>
   </ion-row>
 </ion-header> -->
 
 <ion-content>
  <ion-grid>
    <!-- <ion-row class="tab_title">
      <ion-col col-1>
        <ion-icon (click)="goToBack()" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </ion-col>
      <ion-col>
        <span (click)="changeDirectionType('DRIVING')">Driving</span>
      </ion-col>
      <ion-col>
        <span (click)="changeDirectionType('TRANSIT')">Transit</span>
      </ion-col>
      <ion-col>
        <span (click)="changeDirectionType('WALKING')">Walking</span>
      </ion-col>
    </ion-row> -->

    <ion-row class="map_div">
      <div #map id="map"></div>
    </ion-row>
    
  </ion-grid>
</ion-content>

<ion-footer (click)="gotoHome()" [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
	<ion-icon name="recording"></ion-icon><span class="footer_class">Discover</span>
</ion-footer>
