
<ion-content>
    <ion-grid class="main_tab"> 
    <ion-row>
      <ion-col class="more_option">
          <div (click)="getBlog()">
            <ion-icon ios="ios-more" md="md-more"></ion-icon>
            <span>More</span>
          </div>
      </ion-col>
    </ion-row>
    <ion-row class="tab_title">
      <ion-col *ngFor="let item of categories">
        <span class="tab_item" (click)="getList(item.name)">{{item.name}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <select placeholder="Choose Category" (change)="categoryOnChange(selectedOption)" [(ngModel)]="selectedOption" >
        <optgroup>
          <option [value]="sub.name" *ngFor="let sub of subCate">{{sub.name}}</option>
        </optgroup>
      </select>
    </ion-row>

    <ion-row class="category_items" *ngFor="let result of results">
      <ion-col col-auto>
        <div class="circle"><img src="{{result.profile_image}}"></div>
      </ion-col>
      <ion-col>
        <div class="title_desc">
          <h3 (click)="goToDetail(result.id)">{{result.title}}</h3>
          <h4>{{result.location}}</h4>
        </div>
        <div class="arraow_location" (click)="goToMap(result.id)"><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon></div>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="category_items">
      <ion-col col-auto>
        <div class="circle"></div>
      </ion-col>
      <ion-col>
        <div class="title_desc">
          <h3>The Mall</h3>
          <h4>D-Ring Road - Mall intersection, opposite to
            Al-Ahly Club P.O. 22544 - Doha, Qatar</h4>
        </div>
        <div class="arraow_location"><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon></div>
      </ion-col>
    </ion-row>

    <ion-row class="category_items">
      <ion-col col-auto>
        <div class="circle"></div>
      </ion-col>
      <ion-col>
        <div class="title_desc">
          <h3>The Mall</h3>
          <h4>D-Ring Road - Mall intersection, opposite to
            Al-Ahly Club P.O. 22544 - Doha, Qatar</h4>
        </div>
        <div class="arraow_location"><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon></div>
      </ion-col>
    </ion-row>

    <ion-row class="category_items">
      <ion-col col-auto>
        <div class="circle"></div>
      </ion-col>
      <ion-col>
        <div class="title_desc">
          <h3>The Mall</h3>
          <h4>D-Ring Road - Mall intersection, opposite to
            Al-Ahly Club P.O. 22544 - Doha, Qatar</h4>
        </div>
        <div class="arraow_location"><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon></div>
      </ion-col>
    </ion-row>

    <ion-row class="category_items">
      <ion-col col-auto>
        <div class="circle"></div>
      </ion-col>
      <ion-col>
        <div class="title_desc">
          <h3>The Mall</h3>
          <h4>D-Ring Road - Mall intersection, opposite to
            Al-Ahly Club P.O. 22544 - Doha, Qatar</h4>
        </div>
        <div class="arraow_location"><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon></div>
      </ion-col>
    </ion-row> -->
    
  </ion-grid>
</ion-content>
