<ion-menu [content]="content">
  <ion-header>
      <select (change)="ChangeLanguage($event)" id="lang_select">
        <option value="eng">English</option>
        <option value="arabic">Arabic</option>
      </select>
    <ion-toolbar>
      <ion-title>More</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="menu_list">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon class="menu_icon" name="{{p.icon}}"></ion-icon>
        <span *ngIf="lang == 'eng'" class="menu_label">{{p.title}}</span>
        <span *ngIf="lang == 'arabic'" class="menu_label">{{p.title_arabic}}</span>
      </button>
      <ion-item class="login_section">
        <button (click)="goToLogin()" class="login_button" ion-button type="button" block>Login</button>
        <h5>Forget Password ? <br/> or </h5> 
        <button class="signup_btn" ion-button type="button" block>Sign Up</button>
        <br/>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>