.toolbar-background-md {
	background: none;
}
.toolbar-title-md {
    color: white;
    text-align: center
}
.scroll-content {
    background: white !important;
}
.menu_icon{
	padding-right: 12px;
	color: #7c1736;
    font-size: 26px;
}
.menu_label{
	position: absolute;
    margin-top: 3px;
    margin-left: 10px;
}
#lang_select{
	float: right;
    top: 0;
    background: #801838;
    border: none;
    padding: 8px;
}
ion-header {
    padding: 8px 2em !important;
}