<ion-content>
  <ion-grid class="main_tab">
  <ion-row>
    <ion-col class="more_option">
    <span>
      <ion-icon ios="ios-more" md="md-more"></ion-icon>
      <span style="position: absolute;margin-top: 0px;">More</span>
    </span>
    <ion-icon (click)="changeLanguage()" class="search_icon" ios="ios-globe" md="md-globe"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="second_tab">
      <ion-col (click)="activeNews()" [ngClass]="(news)?'active':''">
        <span>NEWS</span>
      </ion-col>
      <ion-col (click)="activeBlog()" [ngClass]="(blog)?'active':''">
        <span>BLOGS</span>
      </ion-col>
    </ion-row>
    </ion-grid>
    <ion-grid>
    <div class="news_content">
      <ion-row>
        <ion-col col-6 *ngFor="let category of newsCategories">
          <div (click)="newsDetail(category.id)" style='background-image: url("https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg");' class="left"><h1><span>{{category.name}}</span></h1></div>
        </ion-col>
        <!--<ion-col col-6>
          <div class="right" style='background-image: url("https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg");'><h1><span>Local News</span></h1></div>
        </ion-col>
        <ion-col>
          <div class="left" style='background-image: url("https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg");'><h1><span>Sports</span></h1></div>
        </ion-col>
        <ion-col>
          <div class="right" style='background-image: url("https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg");'><h1><span>Weather</span></h1></div>
        </ion-col>-->
      </ion-row>
    </div>

    <div class="blog_content" *ngIf="blog">
      <ion-row (click)="blogDetail()">
        <ion-col>
          <div class="left">
            <div class="absolute_div">dd/mm/yy</div>
            <div class="content">
              <h4>Lorem ipsum</h4>
              <h5>dd/mm/yy
              Lorem ipsum dolor
              sit amet, conLorem
              ipsum dolor sit
              amet, con</h5>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <img src="./assets/imgs/guppi6.jpg"/>
        </ion-col>
      </ion-row>
      <ion-row (click)="blogDetail()">
        <ion-col>
          <div class="left">
            <div class="absolute_div">dd/mm/yy</div>
            <div class="content">
              <h4>Lorem ipsum</h4>
              <h5>dd/mm/yy
              Lorem ipsum dolor
              sit amet, conLorem
              ipsum dolor sit
              amet, con</h5>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <img src="./assets/imgs/guppi6.jpg"/>
        </ion-col>
      </ion-row>
      <ion-row (click)="blogDetail()">
        <ion-col>
          <div class="left">
            <div class="absolute_div">dd/mm/yy</div>
            <div class="content">
              <h4>Lorem ipsum</h4>
              <h5>dd/mm/yy
              Lorem ipsum dolor
              sit amet, conLorem
              ipsum dolor sit
              amet, con</h5>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <img src="./assets/imgs/guppi6.jpg"/>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-icon ios="ios-home" md="md-home"></ion-icon><span class="footer_class">Discover</span>
</ion-footer>
