news-blog-list {
	.main_tab {
		color: white;
    	font-size: 22px !important;
    	padding: 1em 0;
    	background-image: linear-gradient(#000000, #8A1C3D);
	}
	.more_option{
		padding: 1em 0;
    	font-size: 26px;
    	padding-left: 10px !important;
    	padding-right: 10px !important;
    	span{
    	    margin-left: 12px;
    	}
    	.search_icon{
    		float: right;
    	}
	}
	.toolbar-background-md {
    	border-color: white;
    }
    .content-md {
	}
	ion-header{
		background-image: none !important;
	}
	.tab_item{
		font-size: 22px;
	}

	.second_tab{
	    text-align: center;
	    font-size: 20px;
	    color: white;

	    .col{
	        padding: 1em 0;
	    }
	    .active{
	    	span{
	    		color: #8d1b3d;
	    	}
	    	background: white;
	    }
	}
	.blog_content{
	    margin-top: 3em;
	    
	    .row{
	        margin-bottom: 2.5em;
	    }

	    .col{
			padding: 0;
		}
	    .left{
	        background: #2f2d2d;
		    color: white;
		    padding: 4em 1em;
		    height: 250px;
		    .content{
		        border-left: 2px solid #7c1937;
				padding: 0 1em;
		    }
	    }
	    .absolute_div{
		    position: absolute;
		    top: -22px;
		    background: #b7b5b5;
		    color: black;
		    padding: 1em 2em;
		    left: 8px;
		    font-size: 16px;
		    font-weight: 900;
	    }
	    img{
	    	height: 250px;
	    }
	    h4{
	    	margin-top: 0;
	    }
	    h5{
	        margin-top: 10px;
		    line-height: 22px;
		    font-size: 14px;
	    }
	}
	.news_content{
		.col{
			padding: 0;
		}
		div{
			background: #8d1b3d;
		    color: white;
		    border-top: 8px solid white;
		    padding: 3em 2em;
		    text-align: center;
		    font-size: 16px;
		}
		.left{
			border-right: 4px solid white;
		}
		.right{
			border-left: 4px solid white;
		}
	}
	.items_list .col{
		padding: 0;
	}
	.grid{
		padding: 0;
	}
	.tab_title{
	    padding: 2em 0;
    	color:white;
    	background: linear-gradient(#392B2F, #672237);
	}
	.tab_title ion-col{
	    text-align: center;
	}
	ion-footer{
	    background: black;
	    color: white;
	    font-size: 32px;
	    text-align: center;
	    height: 58px;
	    padding: 7px;
	}
	.footer_class{
	    padding: 0 16px;
	}
	.active{
		border-bottom: 3px solid;
		cursor: pointer;
	}
}
