ion-footer{
	    background: black;
	    color: white;
	    font-size: 22px;
	    text-align: center;
	    height: 58px;
	    padding: 7px;
		line-height: 50px;
	}
	.footer_class{
	    padding: 0 16px;
	}